body,html
{
width:100%;
height:100vh;
overflow-x: hidden;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color:rgb(112, 112, 214);
margin:0;

}

.content
{
display:flex;
flex-direction:column;
margin:0;
}
.main-content
{
min-height:100vh;
flex:100%;
margin:0;
}


.loading-screen
{
position:fixed;
background-color:rgba(0,0,0,1);
width:100%;
height:100%;
z-index:20;
top:0;
}
.loading-screen .loader
{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding:20px;
display:flex;
flex-direction: column;
align-items:center;
justify-content:center;
row-gap:10px;
}
.loading-screen .loader i.fa-solid.fa-spinner 
{
font-size:100px;
color:green;
position:relative;
animation:rotate-spinner;
animation-duration:1.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-fill-mode: both;
}
.loading-screen .loader  p
{
font-size:30px;
font-weight:bold;
color:green;
animation:fade-in-out 2s ease-in-out;
animation-iteration-count: infinite;
}
@keyframes fade-in-out
{
0%{opacity:1}
33%{opacity:0.6}
66%{opacity:0.3}
100%{opacity:0.1}
}

@keyframes rotate-spinner
{
0%{transform:rotate(0deg)}
20%{transform:rotate(74deg)}
40%{transform:rotate(148deg)}
60%{transform:rotate(232deg)}
80%{transform:rotate(306deg)}
100%{transform:rotate(360deg)}
}

.menu
{
background:linear-gradient(60deg,blue,purple);
position:sticky;
top:0;
z-index:10;
}
.menu a
{
text-decoration:none;
color:white;
font-size:20px;
font-weight: 700;
}
.menu a:hover
{
opacity:0.2;
}
.gap-20
{
column-gap:20px;
}
input[type="submit"]:hover
{
scale:1.1;
}

.row-gap-20
{
row-gap:20px;
}
.footer
{
display:flex;
flex:100%;
justify-content:center;
background-color: rgba(15, 7, 119, 0.877);
}
.footer p
{
font-size:25px;
font-weight:bold;
margin-right:10vw;
color:white;
}

.fa-solid.fa-user
{
font-size:30px;
color:white;
text-shadow:1px 1px black;
cursor:pointer;
}

.height-fill
{
min-height:100vh;
}

.blog-filter
{
background-color:rgba(1,1,1,0.5);
position:sticky;
top:10%;
z-index:3;
}
.filter-col
{
background-color:rgba(0, 71, 69, 0.837);
}
.blog-filter input[type="search"]
{
background-color:transparent;
outline:1px solid white;
color:white;

}
.blog-filter .option label
{
font-size:25px;
font-weight:bold;
}

input.category-input
{
appearance: none;
min-width:50px;
min-height:50px;
border:1px solid white;
background: linear-gradient(45deg,red,black,transparent);
border-radius:10px;
cursor:pointer;
}
input.category-input:hover
{
opacity:0.5;
scale:1.1;
}
input.category-input:checked
{
appearance: auto;
accent-color:green;
}
button#filter:active,button#reset:active
{
background-color:green;
scale:1.3;
}




.fa-solid.fa-thumbs-up
{
cursor:pointer;
}
.fa-regular.fa-thumbs-down
{
cursor:pointer;
}
p.comments
{
cursor:pointer;
font-size:20px;
font-weight:600;
}
.blog-box
{
background-color:rgba(240, 173, 93, 0.918);
}
.row-gap-50
{
row-gap:50px;
}



.d-none
{
display:none;
}
button#cancel-post
{
display:none;
}
form#post-blog
{
display:flex;
flex:0.7;
flex-direction: column;
justify-content:center;
row-gap:20px;
}
form#post-blog textarea
{
background-color:transparent;
box-shadow:2px 1px 2px 1px  black;
min-height:10vh;
color:purple;
font-size:20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
outline:none;
border:none;
}

.creation-post
{
background:linear-gradient(35deg,rgba(219, 178, 133, 0.705),rgba(219, 201, 201, 0.829));
border-radius:15px;
flex:0.5;
}

.absolute-center
{
position:fixed;
left:50%;
transform: translate(-50%,0);
}

.cursor-pointer
{
    cursor:pointer;
}

form#comment-form textarea
{
resize: NONE;
background-color:inherit;
background:linear-gradient(180deg,transparent,white);
border:none;
}

.flex-50
{
flex:50%;
}

.flex-100
{
flex:100%;
}

.flex-10
{
flex:10%;
}
.flex-75
{
flex:75%;
}
.relative
{
position:relative;
}

.absolute
{
position:absolute;
}
.post-settings
{
font-size:40px;
color:black;
cursor:pointer;
}
.settings
{
bottom:2%;
right:2%;
}
.EDIT_SUBMIT
{
width:15%;
align-self: end;
}
textarea.EDIT_TEXT
{
background-color: transparent;
border-radius:12px;
resize:none;
}

button.like,button.dislike
{
border-radius:20px;
border:none;
background-color:inherit;
}
button.like
{
color:green;
}
button.dislike
{
color:red;
}


#gallery-container
{
height:75vh;
overflow-x:hidden;
overflow-y:scroll;
scrollbar-width:none;
backdrop-filter:blur(10px);
z-index:1;
flex:50%;
}
.card
{
background-color:transparent;
outline:5px solid whitesmoke;
z-index:7;
}
.card img
{
cursor:pointer;
min-width:100%;
max-width:100%;
min-height:100%;
max-height:100%;
}
.card .header
{
font-size:1.5rem;
background-color:transparent;
}
.card .body
{
height:40rem;
}
.card .commentary
{
background-color:transparent;
text-align:start;
font-size:2rem;
}
.gallery-menu
{
flex:25%;
display:flex;
flex-direction:column;
justify-content:start;
align-items:start;
column-gap:20px;
row-gap:20px;
z-index:10;
padding:2rem;
}
.gallery-panel
{
flex:25%;
}

.w-0
{
width:0;
padding:0;
}
#menu-options
{
transition:width 1s ease-in-out;
text-wrap:nowrap;
overflow: hidden;
}
.menu-icon
{
color:yellow;
}

.modification-container
{
flex:50%;
width:100%;
animation:snake 4s ease-in infinite;
position:relative;
display:flex;
flex-direction: column;
align-items:end;
justify-content:end;
}
.adding-container
{
position:relative;
display:flex;
flex-direction: column;
align-items:end;
justify-content:end;
padding:20px;
}
.delete-container
{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items:end;
    justify-content:end;
    padding:20px;
}
.modification-container::before
{
transform: translate(-100%,-100%);
content:"";
width:1rem;
height:1rem;
border-radius:50%;
background-color:var(--dot-color, green);
position:absolute;
animation:snake-ball 4s linear infinite;

}
@keyframes snake {
    0% {
        box-shadow: inset 0px 0px 0px 2px var(--border-color, green);
    }
    25% {
        box-shadow: inset 10px 0px 0px 2px var(--border-color, green), /* Left */
                    inset 0px -10px 0px 2px var(--border-color, green); /* Top */
    }
    50% {
        box-shadow: inset 0px -2px 0px 2px var(--border-color, green), /* Top */
                    inset -10px 0px 0px 2px var(--border-color, green); /* Right */
    }
    75% {
        box-shadow: inset 0px -2px 0px 2px var(--border-color, green), /* Top */
                    inset 0px 0px 0px 2px var(--border-color, green), /* Right */
                    inset 0px 10px 0px 2px var(--border-color, green); /* Bottom */
    }
    100% {
        box-shadow: inset 0px -2px 0px 2px var(--border-color, green), /* Top */
                    inset 0px 0px 0px 2px var(--border-color, green), /* Right */
                    inset 0px 0px 0px 2px var(--border-color, green), /* Bottom */
                    inset 10px 0px 0px 2px var(--border-color, green); /* Left */
    }
}
@keyframes snake-ball
{
0%
{
top:0;
left:0;
width:1rem;
height:1rem;
}
25%
{
top:0;
left:100%;
width:2rem;
height:2rem;
}
50%
{
left:100%;
top:100%;
width:2rem;
height:2rem;
transform: translate(-25%,-25%);
}
75%
{
top:100%;
left:0%;
width:1.5rem;
height:1.5rem;
transform: translate(-25%,-25%);
}
100%
{
left:0;
top:0;
width:1rem;
height:1rem;
}
}

.upload-icon
{
font-size:4rem;
}
label#label-upload
{
overflow:hidden;
}
input[type="file"]#image-input
{
opacity:0;
}
input[type="submit"]#submit-image:hover
{
background-color: green;
outline:none;
border:none
}


#delete-placeholder img
{
width:100%;
height:100%;
border-radius:10%;
}
textarea
{
resize:none;
}